# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
db.sqlite3-journal
local_settings.py
staticfiles/
media/
STATIC_ROOT/
MEDIA_ROOT/

# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Docker
.dockerignore

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
