# ==========================================
# ZETA - ABP 6 | PLANTILLA DE ENTORNO (.env)
# ==========================================
# IMPORTANTE: Para desplegar la aplicación, renombra este archivo
# asegurándote de que se llame EXACTAMENTE ".env" (con el punto inicial)
# y colócalo en la misma carpeta donde está el archivo manage.py.

# ------------------------------------------
# 1. CONFIGURACIONES GLOBALES DE DJANGO
# ------------------------------------------
# Genera la seguridad criptográfica del framework. Obligatoria para iniciar.
SECRET_KEY=django-insecure-clave_secreta_abp6_zeta_2026

# Modo de Desarrollo.
# True  = Muestra pantallas de error detalladas (ideal para el evaluador).
# False = Oculta los errores al usuario final (entorno productivo real).
DEBUG=True

# Lista de dominios desde los cuales se permite acceder a la aplicación.
# Seguridad que impide ataques de tipo HTTP Host header.
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,[::1]

# ------------------------------------------
# 2. CONEXIÓN A BASE DE DATOS (Entorno Virtual local)
# ------------------------------------------
# Al utilizar sqlite3, no se requiere la instalación de un motor externo.
# Ideal para que el entorno levante rápidamente sin configurar PostgreSQL local.
DATABASE_URL=sqlite:///db.sqlite3

# ------------------------------------------
# 3. CONEXIÓN DOCKERIZADA (PostgreSQL) - Ignorar para despliegue VENV
# ------------------------------------------
# Si se desea evaluar el proyecto levantando los contenedores:
# 1. COMENTA la línea "DATABASE_URL=sqlite:///db.sqlite3" de la Sección 2 (agrega un #).
# 2. DESCOMENTA (quita el #) a todas las líneas siguientes de esta sección:

# DATABASE_URL=postgres://abp6_user:abp6_password@db_postgres:5432/abp6_db
# POSTGRES_DB=abp6_db
# POSTGRES_USER=abp6_user
# POSTGRES_PASSWORD=abp6_password
