{% extends "base.html" %}

{% block title %}Iniciar Sesión - ABP6{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5 col-lg-4">
        <div class="auth-card">
            <h3 class="text-center mb-4 text-primary fw-bold">Bienvenido</h3>
            <p class="text-center text-white mb-4">Ingresa tus credenciales para continuar</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100 py-2 mt-3 fw-bold">Iniciar Sesión</button>
            </form>
            <div class="text-center mt-4">
                <p class="small text-white">¿No tienes cuenta? <a href="{% url 'signup' %}" class="text-decoration-none fw-bold">Regístrate aquí</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
