{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0 fw-bold">{% if form.instance.pk %}Editar Proyecto{% else %}Nuevo Proyecto{% endif %}</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-between mt-4">
                        <a href="{% url 'proyecto_list' %}" class="btn btn-outline-light btn-sm">Cancelar</a>
                        <button type="submit" class="btn btn-primary px-5">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
